<div class="container m-5">
    <h2 class="text-primary">Mes livres</h2>
    <ng-container *ngIf="books$ | async as books; else loading">
        <ul class="list-group mt-3 mx-3">
            <li class="list-group-item" *ngFor="let book of books">
                <h5>{{ book.volumeInfo.title}}</h5>
                <em>@{{ book.volumeInfo.authors}}</em>
            </li>
        </ul>
    </ng-container>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>