<div class="container">
    <div class="card m-5 p-2">
        <div class="card-body">
            <ng-container *ngIf="!isLoggedIn;else loggout">
                <h5 class="card-title text-primary">Se connecter à son espace</h5>
                <div class="my-3">
                    <label for="login" class="form-label">Identifiant</label>
                    <input type="text" class="form-control" id="login" value="plop">
                </div>
                <div class="my-3">
                    <label for="pwd" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="pwd" value="123456">
                </div>
                <button class="btn btn-primary mt-3" (click)="onConnect()">Connexion</button>
            </ng-container>
        </div>
    </div>

    <ng-template #loggout>
        <h5 class="card-title text-primary mb-4">Se déconnecter de son espace</h5>
        <button class="btn btn-primary" (click)="onConnect(false)">Déconnexion</button>
    </ng-template>
</div>